:root {
  /* Fonts */
  --fonte: 'Montserrat', sans-serif;

  /* Colors */
  --white: #FFF;
  --black: #000;
  --gray: #d3d3d3;
  --dark: #382C2C;
  --primary: #5011A0;
  --secondary: #F2EBFC;
}

body {
  margin: 0;
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
